<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <base href="<%- BASE_HREF %>">
    <link rel="stylesheet" href="./css/style.css">
    <title>Publicité Effix</title>
</head>

<body>
    <div id="cover">
        <img src="./img/cover4.jpg" alt="cover">
    </div>
    <div id="coreContainer"></div>
</body>

</html>
