#cover {
    height: 400px;
}

#cover img {
    height: 100%;
    width: 100%;
}

.menu {
    background-color: blueviolet;
    padding: 20px;
    margin: 0px auto;
    text-align: center;
    width: 800px;
}

.elementMenu {
    text-decoration: none;
    padding: 21px 15px;
    color: wheat;
    font-size: 18px;
}

.elementMenu:hover {
    background-color: wheat;
    color: blueviolet;
    font-size: 20px;
}

.publicite {
    border: 1px solid;
    margin: 0px auto;
    padding: 10px;
    width: 800px;
}

.label {
    text-align: center;
}

.input {
    margin: 0px 15px;
}

.paragraphe {
    width: 800px;
    margin: 50px auto;
}
.publiciteFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
p {
    text-align: left;
}
